use common::sense;
use Path::Class;
my $document_root = dir('../perl-users.jp-htdocs');
{
    document_root => $document_root,
    static_maps   => {
        qr{^/(?:img|css|js)/} => $document_root->subdir('static'),
        qr{^/lib}             => './',
        qr{^/t}               => './',
    },
};
